h1 {
font-family: "Arial"; 
color: red;
}
body {
    font: 200 18px/28px artifakt-element,sans-serif;
         background-image: url("castelmezzano-1979546_1920.jpg");
}
#poem {
color: white;
}
#poeh {
color: red;
}